include COPYING
include CHANGES.rst
include Makefile
include README.rst
include *.py
include bootstrap-virtualenv.in
include bootstrap-virtualenv.py
include buildout.cfg
include requirements.in
include requirements-dev.in
include requirements-dev.txt
include requirements-test.in
include requirements.txt
include tox.ini
include METE0R_PACKAGE/locale/METE0R-PROJECT.pot
include METE0R_PACKAGE/locale/*/LC_MESSAGES/*.po
exclude METE0R_PACKAGE/locale/*/LC_MESSAGES/*.mo
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include docs/locale *.pot
recursive-include docs/static *.css
prune docs/build
