include COPYING
include CHANGES.rst
include Makefile
include README.rst
include *.py
include buildout.cfg
include requirements-app.in
include requirements-dev.in
include requirements-dev.txt
include requirements-test.in
include requirements.txt
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
