alabaster >= 0.7.10
argcomplete
babel
check-manifest
coloredlogs
flake8
pip-tools >= 1.7.0
pyroma
repoze.sphinx.autointerface
restview
sphinx >= 1.5
sphinx-argparse
sphinx-intl
tox
wheel
zc.buildout
zest.releaser
